@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Result", "Home"))
{

<div class="row">
   <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="Iniciar" />
        <input type="button" class="btn btn-primary" value="Random 20" id="checkAll"/>
    </div>
</div>


<h2>Torneio de Luta</h2>
    
        <div class="row">
        @foreach (var item in Model.Competitors) 
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://api.adorable.io/avatars/200/@item.Name&#64;adorable.png" class="card-img-top" alt="@item.Name">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>
                            <span class="label label-default">@Html.DisplayNameFor(model => model.Competitors[0].Age) @Html.DisplayFor(modelItem => item.Age)</span>
                            <span class="label label-primary">@Html.DisplayNameFor(model => model.Competitors[0].TotalFights) @Html.DisplayFor(modelItem => item.TotalFights)</span>
                            <span class="label label-success">@Html.DisplayNameFor(model => model.Competitors[0].Wins) @Html.DisplayFor(modelItem => item.Wins)</span>
                            <span class="label label-info">@Html.DisplayNameFor(model => model.Competitors[0].Losses) @Html.DisplayFor(modelItem => item.Losses)</span>
                            <span class="label label-warning">@Html.DisplayNameFor(model => model.Competitors[0].MartialArts) @Html.DisplayFor(modelItem => item.MartialArts.Count)</span>
                            <span class="label label-danger">@Html.DisplayNameFor(model => model.Competitors[0].WinPercentagem) @Html.DisplayFor(modelItem => item.WinPercentagem)%</span>
                        </p>

                        <p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="@Html.DisplayFor(modelItem => item.WinPercentagem)" aria-valuemin="0" aria-valuemax="100" style="width: @Html.DisplayFor(modelItem => item.WinPercentagem)%;">
                                @Html.DisplayFor(modelItem => item.WinPercentagem)%
                                </div>
                            </div>
                            <p class="checkbox">
                                <label style="font-size: 2.5em">
                                    <input type="checkbox" name="SelectedCompetitors" value="@item.Name" class="form-control"/>
                                </label>
                            </p>

                            
                            <small class="text-muted"></small>
                        </p>
                    </div>
                </div>
            </div>
        }
        </div>
}
